
html body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100%;
    margin: 0;
    background: url(images/fine.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
}
li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
  li.nav-item:hover {
    background: #63565669;
    width: 30%;
  } 
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
  .navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #fff;
} 
button.navbar-toggler.collapsed {
    font-size: 15px;
}
span.navbar-toggler-icon {
    font-size: 15px;
}
ul.navbar-nav.mr-auto {
    margin-left: 25px;
}
.logo img {
    width: 200px;
    padding: 10px;
}
div#navbarNav {
    justify-content: space-evenly;
    /* background: #83a3b3; */
}

/* ------------------------------------------------------------------------------ */
/* .bg {
    background-image: url(./images/front.jpg);
     height: 100%; 
     background-position: center; 
    background-repeat: no-repeat; 
     background-size: cover; 
     object-fit: cover; 
     margin-top: -3px; 
     overflow-x: hidden; 
}   */

/* --------------------------------------------------------------------------------------- */
.text {
    padding-top: 40px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.text span {
    font-size: 72px;
    color: #fff;
}
.text p {
    font-size: 20px;
    color: #fff;
}
.text img {
    bottom: 100px;
    position: absolute;
    right: 0;
  
}
.down img {
    left: 10px;
    top: 423px;
}






/* ------------------------------------------------------------------------------------------ */
section.popular {
    position: relative;
    padding-top: 185px;
}
.popular h1 {
    text-align: center;
    color: #6b87b1;
}

.card-deck {
    width: 900px;
    margin: 0 auto;
}

.middle {
    position: relative;
    text-align: end;
    height: 100%;
    width: 100%;
}

button.button {
    display: flex;
    margin: 0 auto;
    position: relative;
    background: #6b87b1;
    border: 0;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    bottom: 140px;
}
.button h2 {
    color: #fff;
    font-size: 20px;
    /* padding: 20px; */
}
/* -------------------------------------------------------------------------- */
.dis {
    padding-top: 0px;
}

/* ========================================== */
.img1 img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.dis_text {
    content: '';
    background: #fff;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    text-align: left;
}
.dis_text h1 {
    margin-left: 40px;
}
.dis_text p {
    margin-left: 40px;
}

.discount .row {
    margin: 0;
    padding: 0;
}
.col-md-12.col-lg-6 {
    padding: 0;
    margin: 0;
}
.read {
    position: relative;
    bottom: 150px;
    margin-left: 40px;
}
.read button {
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #6b87b1;
    color: #fff;
}
/* ================================================ */
.dis_text1 {
    content: '';
    background: #fff;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    text-align: left;
}
.dis_text1 h1 {
    margin-left: 40px;
}
.dis_text1 p {
    margin-left: 40px;
}

.discount2 .row {
    margin: 0;
    padding: 0;
}
.col-md-12.col-lg-6 {
    padding: 0;
    margin: 0;
} 
.img2 img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
}
section.discount2 {
    position: relative;
    bottom: 35px;
}

.read1 {
    position: absolute;
    bottom: 100px;
    margin-left: 90px;
}
.read1 button {
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #6b87b1;
    color: #fff;
}

/* =============================================================================== */
/* ------------------------------------------------- */
section.blue {
    content: '';
    background: #6b87b1;
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 70px;
}
.blue img {
    right: 0;
    position: absolute;
    bottom: 225px;
}

.order {
    padding-top: 30px;
}
.order
    h1 {
        text-align: center;
        color: #fff;
    
}
.blue .row {
    margin: 0;
    padding: 0;
}
.blue .row .container {
    display: flex;
}
.col-4 {
    text-align: center;
}
.col-4 p {
    padding: 13px;
}
.circle1 {
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 19px;
    color: #6b87b1;
    font-weight: bold;
}
.order_text1 {
    color: #fff;
}
.order_text1 h2 {
    padding-top: 10px;
}
.circle2 {
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 19px;
    color: #6b87b1;
    font-weight: bold;
}
.order_text2 {
    color: #fff;
}
.order_text2 h2 {
    padding-top: 10px;
}
.circle3 {
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 19px;
    color: #6b87b1;
    font-weight: bold;
}
.order_text3 {
    color: #fff;
}
.order_text3 h2 {
    padding-top: 10px;
}

.last img {
    position: absolute;
    left: 0;
    top: 389px;
    z-index: 2;
}



/* ---------------------------------------------------------------- */

section.backimage {
    position: relative;
    bottom: 70px;
}


.backimage img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
.free {
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 320px;
    width: 600px;
}
.free h1 {
    color: #6b87b1;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}


.free p {
    font-size: 15px;
    color: #6b87b1;
}
button.Get {
    border: 0;
    border-radius: 30px;
    background: #6b87b1;
    padding: 10px;
    color: #fff;
    margin-top: 20px;
}

.backmid img {
    width: 15%;
    height: 35%;
    top: 280px;
    position: absolute;
    right: 0;
}


/* ------------------------------------------------------------------------------------- */
section.social {
    position: relative;
    text-align: center;
    bottom: 215px;
}

i.fas.fa-quote-left {
    color: #6b87b1;
    font-size: 75px;
}
.social p {
    width: 550px;
    margin: 0 auto;
    color: #6b87b1;
}
.social h1 {
    color: #6b87b1;
    font-size: 35px;
    padding: 15px;
}
.media {
    color: #6b87b1;
    position: relative;
    justify-content: center;
    z-index: 2;
}
i.fab.fa-facebook {
    font-size: 50px;
    padding: 20px;
}
i.fab.fa-twitter {
    font-size: 50px;
    padding: 20px;
}

i.fab.fa-instagram {
    font-size: 50px;
    padding: 20px;
}

.backlast img {
    position: absolute;
    left: 40px;
    top: 275px;
}

/* ------------------------------------------------------------------------------ */

.background .row {
    margin: 0;
    padding: 0;
}
.background .col-4 {
    text-align: center;
    
    color: #fff;
}
.col-4 h2 {
    text-align: left;
    margin-left: 15px;
}
.background .col-2 {
    color: #fff;
    left: 100px;
}
.col-4 p {
    padding: 13px;
    text-align: left;
}


/* `````````````````````````````````````````````````````````````````````````````` */
/* `````````````````````````````````````````````````````````````````````````````` */
/* ############################################################## */
/* ############################################################## */

/* ````````````````````````````````````````````````````````````````````````````` */
/* ```````````````````````````````````````````````````````````````````````````` */
@media screen and (max-width:1024px) {
    .backlast img {
        position: absolute;
        left: 40px;
        top: 300px;
    }
    
}

@media screen and (max-width:786px) {
   
    .text {
        padding-top: 90px;
        text-align: center;
        width: 500px;
        margin: 0 auto;
    }
    .text span {
        font-size: 45px;
        color: #fff;
    }
    .text p {
        font-size: 15px;
        color: #fff;
    }
    section.popular {
        padding-top: 250px;
    }
    .popular h1 {
       
        font-size: 35px;
    }
    .card-deck {
        width: 700px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .text img {
        bottom: 100px;
        position: absolute;
        right: 0;
        height: 50%;
    }
    .down img {
        left: 10px;
        top: 535px;
        height: 30%;
        width: 30%;
    }

    .middle {
        text-align: end;
        height: 100%;
        width: 100%;
        top: 10px;
    }
   
button .button{
    bottom: 70px;
}

    
/* ----------------------------- */

.dis_text h1 {
    margin-left: 40px;
    font-size: 25px;
}
.dis_text1 h1 {
    margin-left: 20px;
    font-size: 25px;
}
    .dis_text1 p {
        margin-left: 20px;
    }
    .read1 {
        margin-left: 40px;
        bottom: 120px;
    }

    .blue img {
      
        bottom: 275px;
        width: 35%;
    }

    .last img {
        position: absolute;
        left: 0;
        top: 400px;
        width: 25%;
    }
    .backmid img {
        width: 20%;
        height: 16%;
        top: 350px;
        right: 5px;
    }

    .backlast img {
        position: absolute;
        left: 40px;
        top: 325px;
    }
}
/*```````````````````````````````````````````````````````````````````````` */
/* `````````````````````````````````````````````````````````````````````````` */

@media screen and (max-width:425px)and (min-width:320px) {
    .logo img {
        width: 150px;
        padding: 10px;
    }
    button:focus {
        outline: none;
    }
    .menu {
        font-size: 12px;
        width: 100%;
    }
    span.navbar-toggler-icon {
        font-size: 10px;
      
    }
    button.navbar-toggler {
        margin-top: 15px;
    }
 .bg{
     height: 100%;
 }
 .text {
    padding-top: 100px;
    width: 200px;
    margin: 0 auto;
}
.text span {
    font-size: 36px;
    color: #fff;
}
    .text p {
        font-size: 12px;
        color: #fff;
    }
/* ---------------------------------------------------------- */
.text img {
    bottom: 100px;
    position: absolute;
    right: 0;
    height: 30%;
}
.down img {
    left: 10px;
    top: 455px;
    height: 20%;
    width: 30%;
}
.middle {
    top: 0;
}
.middle img {
    width: 30%;
}

    /* ----------------------------- */
    section.popular {
        padding-top: 140px;
    }

    .popular h1 {
        text-align: center;
        color: #6b87b1;
        font-size: 20px;
    }
    .card-deck {
        width: 200px;
    }
    h5.card-title {
        font-size: 14px;
    }
  
    p.card-text {
        font-size: 11px;
    }
    .card-footer {
        padding: 5px;
    }
    
    .button h2 {
        color: #fff;
        font-size: 13px;
        /* padding: 20px; */
    }
    button.button {
        
        bottom: 70px;
    }
    /* ------------------------- */
    .img1 img {
        width: 100%;
        height: 200px;
    }
    .dis_text {
       
        width: 100%;
        height: 200px;
    }
    .dis_text h1 {
        font-size: 15px;
        font-weight: bold;
        margin-left: 15px;
    }
    .dis_text p {
        margin-left: 10px;
        font-size: 10px;
    }
    .read {
        
        bottom: 50px;
    }
    .read button {
        font-size: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .dis_text1 {
        width: 100%;
        height: 200px;
        padding-top: 30px;
        text-align: left;
       
    }
    .dis_text1 h1 {
        font-size: 15px;
        font-weight: bold;
       
    }
    .dis_text1 p {
       
        font-size: 10px;
    }
    .read1 {
        margin-left: 40px;
        bottom: 50px;
    }
    .read1 button {
        
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
       
    }
    .img2 img {
        width: 100%;
        height: 200px;
    }
/* --------------------------------------------------------- */
section.blue {
    width: 100%;
    height: 300px;
    bottom: 37px;
}
.blue img {
    bottom: 240px;
    width: 30%;
}
.order {
    padding: 10px;
}
.order h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.circle1 {
    font-size: 15px;
    width: 30px;
    height: 30px;
    
}
.circle1 p {
    padding: 7px;
}
.order_text1 p {
    font-size: 8px;
    padding-top: 0px;
}
.order_text1 h2 {
    font-size: 13px;
}
.col-4  {
  text-align: center;
}

.circle2 {
    font-size: 15px;
    width: 30px;
    height: 30px;
    
}


.circle2 p {
    padding: 7px;
}
.order_text2 h2 {
    font-size: 13px;
}
.order_text2 p {
    font-size: 8px;
    padding-top: 0px;
}

.circle3 {
    font-size: 15px;
    width: 30px;
    height: 30px;
    
}

.circle3 p {
    padding: 7px;
}
.order_text3 h2 {
    font-size: 13px;
}
.order_text3 p {
    font-size: 8px;
    padding-top: 0px;
}

.last img {
    left: 0;
    top: 255px;
    width: 25%;
}




/* --------------------------------------------------------------------------------- */
section.backimage {
    bottom: 80px;
}
.backimage img {
    width: 100%;
    height: 300px;
}

.free {
    bottom: 275px;
    width: 300px;
    text-align: center;
}
.free p {
    font-size: 12px;
    color: #6b87b1;
    margin: 0 auto;
}

.backmid img {
    width: 20%;
    height: 16%;
    top: 258px;
    right: 5px;
}
/* ------------------------------------------------------------------ */
section.social {
    text-align: center;
    bottom: 270px;
}
.social p {
    width: 225px;
    margin: 0 auto;
    color: #6b87b1;
    font-size: 13px;
}
i.fas.fa-quote-left {
    color: #6b87b1;
    font-size: 70px;
    padding: 30px;
}
.social h1 {
    color: #6b87b1;
    font-size: 30px;
    padding: 20px;
}
i.fab.fa-facebook {
    font-size: 30px;
    padding: 20px;
}
i.fab.fa-twitter {
    font-size: 30px;
    padding: 20px;
}
i.fab.fa-instagram {
    font-size: 30px;
    padding: 20px;
}

.backlast img {
    position: absolute;
    width: 30%;
    top: 450px;
    left: 0;
}


/* ----------------------------------------------------- */
footer.background {
    padding-top: 0px;
    padding-bottom: 40px;
}
.col-4 {
    text-align: left;
    font-size: 8px;
    color: #fff;
}
.background .col-2 {
    font-size: 8px;
    color: #fff;
    left: 0px;
}
.background h2 {
    font-size: 16px;
}


}